.lostpassword-wrapper{
    position: fixed;
    background: linear-gradient(
        rgba(87, 85, 85, 0.7), 
        rgba(76, 75, 75, 0.7)
      );
    justify-content: center;
    
    height: 100%;
    margin: 0;
    width: 100%;
    z-index: 3;
    
}


.lostpassword-container{
    width: 250px;
    height: 280px;
    padding: 30px;
    background-color: #fff;
    margin-left: 520px;
    border-radius: 5px;

}
.lostpassword-container h1{
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 20px;
}
.lostpassword-container p{
    font-size: 15px;
    padding-bottom: 20px;
}
.lostpassword-container label{
    font-size: 15px;
    margin-bottom: 5px;
    
}
.lostpassword-container input{
    font-size: 15px;
    margin-bottom: 20px;
    padding: 8px 29px;
    border-radius: 5px;
    border: 1px solid #d8d5d5;
}
.lostpassword-container button{
    
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0a0a6e;
    color: #fff;
    
}
.lostpassword-container .lostpassword-one{
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #011640;
}
